/* Splash Page Styles */

body {
    background-color: ###SPLASH###;
    background-image: url("###BACKGROUND###");
    background-size: cover;    
}
#panel {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 630px;
    min-width: 400px;
    min-height: 630px;
    margin-top: -150px;
    margin-left: -200px;
    z-index: 800;
}
#logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 265px;
    height: 200px;
    min-width: 265px;
    min-height: 200px;
    margin-top: -276px;
    margin-left: -136px;
    z-index: 802;
    background-size: contain;
    background-repeat: no-repeat;
}
#bordered {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 265px;
    height: 200px;
    min-width: 265px;
    min-height: 200px;
    margin-top: -276px;
    margin-left: -136px;
    z-index: 802;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.5);
    border: 2px solid #ffffff;
}
#spinning {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 160px;
    height: 160px;
    min-width: 160px;
    min-height: 160px;
    margin-top: -260px;
    margin-left: -84px;
    z-index: 802;
    background-size: contain;
    background-repeat: no-repeat;
    animation: spin 2s linear infinite;    
}
#proj {
    margin: 0px;
    padding: 0px;
    padding-bottom: 14px;
    z-index: 801;
    font-size: 22px;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    color: ###TEXT###;
    outline: none;
    overflow: hidden;
}
#status {
    margin: 0px;
    padding: 0px;
    padding-top: 6px;
    z-index: 801;
    font-size: 10px;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    color: ###TEXT###;
    outline: none;
    overflow: hidden;
}
#details {
    margin: 0px;
    padding: 0px;
    padding-top: 14px;
    z-index: 801;
    font-size: 18px;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    color: ###TEXT###;
    outline: none;
    overflow: hidden;
}
.load {
    width: ###RADIUS###px;
    height: ###RADIUS###px;
    z-index: 801;
}
.data {
    width: ###RADIUS###px;
    height: ###RADIUS###px;
    z-index: 801;
}
.zappar-mobile-only {
    background-color: ###SPLASH###;
    background-image: url("###BACKGROUND###");
    background-size: cover;    
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}